
:local(.NavContainer) {

    width: 100%;
    display: block;

}

:local(.NavBar){
    display: flex;
    width: 40%;
    float: right;
}
:local(.NavItem){
    list-style-type: none;
    margin: 0 auto;
}
:local(.NavLink){
    text-decoration: none;
    color: white;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
}
